.landing-page {
    height: 90vh;
    width: 100%;
    padding-top: 10vh;
    display: flex;
    /* background-color: lightgoldenrodyellow; */
    background-color: #ebebeb;
}

.background-image {
    height: 100%;
    width: 100%;
}

.log-in-sign-up-box {
    color: black
   
}

.log-in-form {
    position: relative;
    top: 50px;
}

.sign-up-form {
    position: relative;
    top: 5px;
}

.title-div {
    display: flex;
    justify-content: center;

}

.title {
    padding: 30px;
    color: steelblue;
    font-size: 100px;
    font-weight: lighter;
}

.sign-up-log-in-demo {
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    width: 100%;
    height: 100%;
}

.form-name {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-form-name {
    margin-bottom: 0;
}

.title-container {
    display: flex;
}

.landing-page-input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(187, 187, 187);
    width: 400px;
    background-color: #ebebeb;
    height: 40px;
    font-size: 16px;
    color: black;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;
}

.landing-page-input:focus {
    outline: none;
    /* border-bottom: 1px solid rgb(83, 83, 83); */
    border-bottom: 1px solid steelblue;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.form-container {
    /* padding: 10px; */
}

.label {
    padding-bottom: 10px;
    padding-left: 10px;
}

.form-button {
    background-color: lightsteelblue;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-button:hover {
    cursor: pointer;
}

.form-button-clicked {
    border: 2px solid steelblue;
    background-color: lightsteelblue;
    height: 36px;
    width: 96px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-start;
}

.form-button-clicked:hover {
    cursor: pointer;
}