.landing-page {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./images/background.jpg')
}

.background-image {
    height: 100%;
    width: 100%;
}

.log-in-sign-up-box {
    background-color: rgb(242, 247, 248);
    color: black
   
}

.log-in-form {
    position: relative;
    top: 50px;
}

.sign-up-form {
    position: relative;
    top: 5px;
}

.title-div {
    display: flex;
    justify-content: center;

}

.title {
    
    padding: 50px;
    font-size: 36px;
    font-weight: bold;
}